.venv/
.uv/

# --- Ruff (If using Astral's linter/formatter) ---
.ruff_cache/

# --- Python Build & Caching ---
__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info/

# --- Environment Variables & Secrets ---
.env
.env.local

data/